.container {
  height: 100%;
  border-radius: 1rem;
  border: none;
  background-color: #f5f5f5;
  color: #000000aa;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 1rem 0 1rem;
  margin: 2rem;
}

.icon {
  font-size: 3.5rem;
  margin: 1rem;
}