.fileCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  word-break: break-all;
}

.fileCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.fileCard > img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.moreIcon {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
}